/TF_1_cycle0.slx
/TF_1_cycle1.slx
/TF_1_cycle2.slx
/TF_1_cycle3.slx
/TF_1_cycle4.slx
/TF_1_motiflen_6_ranked.pbm
/TF_1_motiflen_6.metric
/TF_1.pbm
/TF_1_unsorted_motiflen_6_ranked.pbm
/TF_1_unsorted_motiflen_6.metric
/TF_1_unsorted.pbm
/TF_1.metric
